*,
*::before,
*::after {
  box-sizing: border-box;
}
.html{
  overflow-x: hidden;
}
:root {
  --color-hover: #404bbf;
  --color-hover-footer: #31d0aa;
  --color-of-txt-one: #434455;
  --color-of-background-one: #ffffff;
  --color-of-txt-two: #2e2f42;
  --color-of-background-two: #f4f4fd;
  --color-of-background-thre: #4d5ae5;
  --color-of-background-for: #8e8f99;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
/* iNVISIBOL COLONTYTL */
.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  color: var(--color-of-txt-one);
  font-family: "Roboto", sans-serif;
  background-color: var(--color-of-background-one);
}
.text-logo-footer,
.text-logo-footer:hover,
.text-logo-footer:focus {
  display: inline-block;
  color: var(--color-of-background-thre);
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
button {
  cursor: pointer;
  background-color: var(--color-of-background-thre);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-of-txt-one);
}

.link {
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.list {
  list-style: none;
  color: var(--color-of-txt-one);
}
.link:hover,
.link:focus {
  color: var(--color-hover);
}
button:hover,
button:focus {
  background-color: var(--color-hover);
  color: var(--color-of-background-one);
}
.link:hover,
.link:focus {
  color: var(--color-hover);
}
button:hover,
button:focus {
  background-color: var(--color-hover);
  color: var(--color-of-background-one);
}
.container {
  margin: 0 auto;
}

.container .text-logo,
.text-logo:hover,
.text-logo:focus {
  color: var(--color-of-background-thre);
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0.51px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
}
.text-logo-studio,
.text-logo-studio:hover,
.text-logo-studio:focus {
  color: var(--color-of-txt-two);
  font-family: "Raleway", sans-serif;
}
.up_menu .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}


@media (max-width: 768px) {
  .page-header {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
      0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  }
  
  .page-header .container {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  @media (max-width: 767px) {
    .menu {
      display: none;
    }
  }
  
  .menu .link {
    padding: 10px;
    color: inherit;
    text-decoration: none;
  }
  
  .menu .link:hover,
  .menu .link:focus {
    text-decoration: underline;
  }
  
  .menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }
}
  @media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .modal_window_button_one {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-of-background-one);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .div_limit{
    width: 320px;
  }
  .modal_window_button_one:hover,
  .modal_window_button_one:focus {
    border: none;
    fill: var(--color-of-background-one);
  }
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 72px 16px 40px;
    background-color: var(--color-of-background-one);
    z-index: 999;
  
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }

  .menu-container.is-open {
    transform: translateX(0);
  }
  
  .menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: var(--color-of-txt-two);
  }

  .mobile-menu {
    display: flex;
    gap: 24px;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .mobile-menu_two{
    margin-top: 30%;
    display: flex;
    justify-content: center;
    gap:40px;
    flex-direction: column;
  }
  .contact-date-the{
    color:  #434455;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
letter-spacing: 0.4px; 
  }
  .contact-date_two{
    color: #434455;

font-size: 36px;
font-style: normal;
font-weight: 700;
letter-spacing: 0.72px;
text-transform: capitalize; 
  }

.js-menu-container .mobile-menu_the{
margin-top: 48px;
display: flex;
gap: 33px;
flex-wrap: nowrap;
}
.contact-date_two{
  font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
letter-spacing: 0.4px; 
color: var(--color-hover);  
}
  .mobile-menu .link {
    display: block;
    padding: 10px;
    color: var(--color-of-txt-two);
    text-decoration: none;
    font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;
text-transform: capitalize; 
  }
  .div_limit .stidio_menu_buton {
    color: var(--color-hover);
  }
  .mobile-menu .link:hover,
  .mobile-menu .link:focus{
    color: #4d5ae5;
  }
  
@media (max-width: 767px) {
  .ul_fast{
    display: none;
  }
  .ul_contact{
    display: none;
  }
}

@media (min-width: 768px) {
  .up_menu .container {
    display: flex;
    align-items: center;
  }
  .naw_panel {
    display: flex;
    align-items: center;
  }
  .up_menu {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
      margin: 0 auto;
  }
  .ul_fast {
    display: flex;
    gap: 40px;
  }
  .styless-address {
    font-style: normal;
    margin-left: auto;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-date {
    color: var(--color-of-txt-one);
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .stidio_menu_buton {
    color: var(--color-hover);
  }
  .portfolio_menu_buton {
    color: var(--color-hover);
  }
  .stidio_menu_buton::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 48px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .portfolio_menu_buton::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 66px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .navigationpanel {
    text-decoration: none;
    position: relative;
    color: var(--color-of-txt-two);
    font-weight: 500;
    font-size: 16px;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media (min-width: 1158px) {
  .up_menu {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
      width: 100%;
      margin: 0 auto;
  }

 
  
  .styless-address .ul_contact {
    display: flex;
    gap: 40px;
  }
  /* Контактні дані */
  
  .ul_contact {
    display: flex;
    gap: 40px;
  }
  
  .contact-date {
    color: var(--color-of-txt-one);
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
}
/* Section 1 */
.intro {
  background-color: var(--color-of-txt-two);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mainpage/people_office_work_mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding: 72px 0;
}

.intro .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-intro {
  display: block;
  font-size: 36px;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-of-background-one);
  max-width: 217px;
  margin: 0 auto 72px;
}
@media (min-resolution: 192dpi), (min-resolution: 2dppx) ,(min-in-device-pixel-ratio:2) {

  .intro {
    background-color: var(--color-of-txt-two);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mainpage/people_office_work_mobile@x2.jpg);
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
  }
  }

@media (min-width: 768px) {
  .text-intro {
    font-size: 56px;
    line-height: 1.07em;
    max-width: 496px;
  }
  .intro{
    padding: 112px 0;
  }
    
  @media (min-width: 768px) {
    .intro {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/mainpage/people_office_work_tablet.jpg);

    }
  }
  @media (min-width: 768px) and (min-resolution: 192dpi), (min-resolution: 2dppx) ,(min-in-device-pixel-ratio:2){
    .intro {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/mainpage/people_office_work_tablet@x2.jpg);

    }
  }

}
@media (min-width: 1158px) {

  @media (min-width: 1158px) and (min-resolution: 192dpi), (min-resolution: 2dppx) ,(min-in-device-pixel-ratio:2){
    .intro {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/mainpage/people_office_work_desktop@x2.jpg);
  
    }
  }
  .text-intro{
    max-width: 496px;
  }
  .intro{
    padding: 188px 0;
  }
}

.button-home {
  letter-spacing: 0.04em;
  color: var(--color-of-background-one);
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Section 2 */
.codexs-section .icon_conteiner {
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--cloud, #f4f4fd);
  align-items: center;
  display: flex;
  justify-content: center;

  margin-bottom: 8px;
}
@media (max-width: 1158px) {
  .codexs-section .icon_conteiner {
    display: none;
  }

    
    
    
    @media (min-width: 1158px) {
      .intro {
        background-color: var(--color-of-txt-two);
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url(../images/mainpage/people_office_work_desktop.jpg);
    
        background-repeat: no-repeat;
        background-position: center;

      }
    }
}
.codexs-section {
  display: flex;
  align-items: flex-start;
  padding: 96px 16px;
}
.codexs-section .container{
  margin: 0 auto;

}

.ul_codexs {
  display: flex;
  gap: 72px;
  flex-direction: column;
}
.li_codexs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.company-codexs-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  color: var(--color-of-txt-two);
}
.strategi-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  color: var(--color-of-txt-two);
  text-align: center;
}

.strategi-description {
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: var(--color-of-txt-one);
  font-weight: 500;
  width: 288px; 
}

@media (min-width: 768px) {
  .codexs-section .container {
    width: 712px; 
  }
  .ul_codexs {
  
    flex-wrap: wrap;
    flex-direction: row;
    gap:72px 24px;
  }
  .li_codexs {
    width: calc((100% - 24px) / 2);
    align-items: flex-start;
  }
  .strategi-text {
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
  }

  .strategi-description {
    font-style: normal;
  }
}
@media (min-width: 1158px) {
  .codexs-section {
    padding: 120px 0;
    margin: 0 auto;
    
  }
  .codexs-section .container {
    width: 100%; 
    max-width: 1128px;
  }

  .li_codexs {
    width: calc((100% - 72px) / 4);
    justify-content: center;
    align-items: center;
  }
  .container .icon_conteiner{

    padding: 24px 100px;
  }
  .strategi-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-of-txt-two);
  }
  .strategi-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-of-txt-one);
  }
}
/* Section 3 */
@media (max-width: 1158px) {
  .section-proces {
    display: none;
  }
}
@media (min-width: 1158px) {
  .section-proces {
    padding-bottom: 120px;
    display: flex;
    margin: 0 auto;
  }
  .section-proces .container {
    display: flex;
    flex-direction: column;
  }
  .section_h {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-of-txt-two);
    margin-bottom: 72px;
  }
  .ul_proces {
    display: flex;
    gap: 24px;
  }
  .li_proces {
    width: calc((100% - 48px) / 3);
  }

}
/* Section 4 */
.section_my_tim {
  display: flex;
  background-color: var(--color-of-background-two);
  align-items: flex-start;
  padding: 96px 0;
}
.ul_my_tim {
  flex-wrap: nowrap;
}
.section_my_tim_h {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--color-of-txt-two);
  text-transform: capitalize;
  margin-bottom: 72px;
}
.ul_my_tim_1 {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px;
  flex-direction: column;
  margin: 0 auto;
}
.ul_my_tim {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.li_my_tim {
  background-color: var(--color-of-background-one);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.container_my_tim {
  padding: 32px 16px;
}
.my_tim_text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-of-txt-two);
  text-align: center;
  margin-bottom: 8px;
}
.my_tim_description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-of-txt-one);
  text-align: center;
  margin: 8px 0;
}
.container_my_tim_icon {
  height: 40px;
  width: 40px;
}
.link_my_tim_icon {
  display: flex;
  box-sizing: border-box;
  background-color: var(--color-of-background-thre);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container_my_tim_icon .icon {
  fill: var(--color-of-background-two);
}
.link_my_tim_icon:hover,
.link_my_tim_icon:focus {
  background-color: var(--color-hover);
}
.container_my_tim_icon {
  height: 40px;
  width: 40px;
}
.link_my_tim_icon {
  display: flex;
  box-sizing: border-box;
  background-color: var(--color-of-background-thre);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container_my_tim_icon .icon {
  fill: var(--color-of-background-two);
}
.link_my_tim_icon:hover,
.link_my_tim_icon:focus {
  background-color: var(--color-hover);
}
@media (min-width: 768px) {
  .section_my_tim {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    padding: 96px 0;
  }
  .ul_my_tim_1 {
    gap: 64px 24px;
    flex-direction: row;
    
  }
  .li_my_tim{
    width: calc((100% - 24px) / 2);
  }
  .section_my_tim .section_my_tim_div{
    width: 712px; 
  }
}
@media (min-width: 1158px) {
  .section_my_tim {
    padding: 120px 0;
    align-items: flex-start;
    flex-shrink: 0;
    flex-wrap: nowrap;
    flex-direction: row;

  }
  .section_my_tim .section_my_tim_div{
    width: 100%;
    max-width: 1128px;
  /* }
  .li_my_tim{
    width: calc((100% - 24px) / 4);
  } */
  .ul_my_tim {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: nowrap;
  }
  .ul_my_tim_1{
    flex-wrap: nowrap;
  }
  .container .section_my_tim_div{
    width: 100%;
  }
  .list .ul_my_tim_1{
    width: 100%;
  }
}
}
/* Section 5 */
.section_customers{
  margin: 0 auto;
}
.section_customers .container{
  padding: 0 16px;
}

.section_h {
  text-align: center;
  font-size: 36px;
  text-transform: capitalize;
  margin: 96px auto 72px;
}
.link_customers {
  display: flex;
  height: 100%;
  width: 100%;
  color: var(--color-of-background-for);
  border: 1px solid var(--lightslate, var(--color-of-background-for));
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ul_customers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 72px 16px;
}

.customers_conteiner {
  align-items: center;
}
.link_customers .icon {
  fill: currentColor;
}

.li_section_customers {
  width: calc((100% - 16px) / 2);
  height: 88px;
  justify-content: center;
  align-items: center;
}
.link_customers:hover,
.link_customers:focus {
  border-color: var(--color-hover);
}

@media (min-width: 768px) {
  .section_customers {
    margin: 0 auto;
  }
  .section_customers .container{
    padding: 0 108px;
  }
  .ul_customers {
    gap: 72px 24px;
  }
  .li_section_customers {
    width: calc((100% - 48px) / 3);
  }
}
@media (min-width: 1158px) {
  .section_customers {
    margin: 0 auto;
  }
  .li_section_customers {
    width: calc((100% - 120px) / 6);
  }
  .section_h {
    text-align: center;
    font-size: 36px;
    text-transform: capitalize;
    padding: 0;
  }
}
/* Foter */
.footer_section{
  margin: 0;
}
.footer_index_container {
  background-color: var(--color-of-txt-two);
  padding: 96px 0;
  
}
.div_footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px 0;
  width: 320px;
  

}
.div_indiv_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
.p_footer_intro {
 
  line-height: 1.5;
  color: var(--color-of-background-one);
  letter-spacing: 0.02em;
  font-weight: 500;

}
.p_footer_intro_two{
  line-height: 1.5;
  color: var(--color-of-background-one);
  letter-spacing: 0.02em;
  font-weight: 500;
}
.container .div_footer{
  width: 542px;
}
.div_indiv_footer{
  max-width: 264px;
}
.div_thry_sector_of_futer .p_footer_intro{
  text-align: center;
}
.ul_footer {
  align-items: center;
  width: 208px;
  display: flex;  
  gap: 16px;

}
.li_footer {
  height: 40px;
  width: 40px;
}
.link_footer {
  display: flex;
  box-sizing: border-box;
  background-color: var(--color-of-background-thre);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: start;
  justify-content: start;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px;
}
.li_footer .icon {
  fill: var(--color-of-background-two);
}
.link_footer:hover,
.link_footer:focus {
  background-color: var(--color-hover-footer);
}
.text-logo-footer,
.text-logo-footer:hover,
.text-logo-footer:focus {
  display: inline-block;
  color: var(--color-of-background-thre);
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.footer_index_container .container {
  background-color: var(--color-of-txt-two);
}

.text-logo-footer-span {
  color: var(--color-of-background-one);
}
.div_thry_sector_of_futer {

  display: flex;
  flex-direction: column;
  width: 288px;
  gap: 16px 0;
}

.form_footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.input_in_form_in_footer_classs {
  height: 40px;
  width: 288px;
  border: 1px solid var(--color-of-background-one);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--color-of-background-one);

}
::placeholder {
  color: var(--color-of-background-one);
}
.boton_subsribe_footer {
  height: 40px;
  width: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  color: var(--color-of-background-one);
  letter-spacing: 0.04em;
  padding: 8px 24px; 
}
.svg_subscribe_footer {
  margin-left: 16px;
  fill: var(--color-of-background-one);
}
.label_in_form_in_footer{
  width: 100%;

}
@media (min-width: 768px) {
  .div_footer{
    width: 584px;
    gap: 72px 24px;
  }
  .p_footer_intro {
    padding: 0;
  }

  .div_indiv_footer {
    justify-content: flex-start;
  }
 

  .div_thry_sector_of_futer {
height: 80px; 
width: 560px;
gap: 16px 24px;
  }
  .p_footer_intro{
    text-align: left;
    width: 264PX;
  }
  .div_thry_sector_of_futer {
justify-content: flex-start;
align-items: start;
flex-wrap: nowrap;
  }
  .form_footer {
    flex-wrap: nowrap;
    gap: 24px;
    width: 100%;
    flex-direction: row;
    justify-content: start;
  }
  
  .label_in_form_in_footer{
    width: 264px; 
  }
  .input_in_form_in_footer_classs{
    width: 100%;
  }
  .input_in_form_in_footer_classs {
    width: 100%;
  }
}
@media (min-width: 1158px) {
  .div_indiv_footer {
    width: 33% ;
    margin: 0;
  }
  .div_thry_sector_of_futer {
    width: 44%;
    
  }
  .div_thry_sector_of_futer {
    margin: 0;
  }
  .div_footer{
    flex-wrap: nowrap;
  }
  .div_footer{
    width: 100%;
    max-width: 1128px;
  }
  .div_indiv_footer {
    justify-content: flex-start;
    align-items: baseline;
    flex-direction: column;
  }
  .p_footer_intro {
    padding: 0 0 16px;
}
.label_in_form_in_footer {
  width: 60%;
}
}
.container_js {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.container_in_container_js {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 320px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
@media (min-width: 768px) {
  .container_in_container_js {
  width: 408px;
  }
}
.modal_window_button{
  position: absolute;
   top: 24px;
     right: 24px;
     width: 24px; 
     height: 24px; 
     border-radius: 50%; 
     display: flex;
   align-items: center; 
   justify-content: center; 
   background-color: #e7e9fc; 
   border: 1px solid rgba(0, 0, 0, 0.1);
   padding: 0; 
   cursor: pointer; 
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_window_button:hover,
.modal_window_button:focus{
  border: none;
  fill: var(--color-of-background-one);
}
.container_in_container_js .icon{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.p_modal{
font-weight: 500; 
font-size: 16px; 
line-height: 1.5; 
text-align: center;
letter-spacing: 0.02em; 
color: var(--color-of-txt-two)  ;
margin-bottom: 16px;
}
.div_form{
   margin-bottom: 8px; 
}

.form_label {
font-size: 12px;
line-height: 1.17; 
letter-spacing: 0.04em; 
color: var(--color-of-background-for); 
display: block; 
margin-bottom: 4px; 
}
.div_label_in_modal{
   position: relative;
}
.div_insert_in_modal{
  width: 100%;
height: 40px;
border: 1px solid rgba(46, 47, 66, 0.4); 
border-radius: 4px;
background-color: transparent; 
padding-left: 38px; 
outline: transparent; 
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.div_insert_in_modal:focus,
.div_insert_in_modal:hover{
  border-color: #4D5AE5;
}
.svg_insert_in_modal{
 position: absolute;
left: 16px;
top: 50%;
transform: translateY(-50%); 
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.div_label_in_modal:focus-within,
.div_label_in_modal:hover {
 fill: var(--color-of-background-thre); 
}

.form-button {
  align-self: flex-start;
}

.form-input {
  padding: 4px;
  color: #212121;
  border: 1px solid #212121;
  border-radius: 4px;
}

.form-input::placeholder {
  color: #616161;
}
.div_form_textarea{
  margin-bottom: 16px;
}
.textarea_modal{
  width: 100%; 
height: 120px; 
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4); 
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px; 
background-color: transparent; 
padding: 8px 16px; 
outline: transparent; 
resize: none;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.textarea_modal:focus,
.textarea_modal:hover{
  border-color: var(--color-of-background-thre) ; 
}
.div_form_checkbox_one{
  margin-bottom: 24px;
}
.checkbox_one_span{
  width: 16px; 
height: 16px;
border: 1px solid rgba(46, 47, 66, 0.4); 
border-radius: 2px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: inline-flex;
align-items: center; 
justify-content: center; 
fill: transparent;
}

.checkbox_one_input:checked + .form_label .checkbox_one_span{
  background-color: var(--color-hover) ; 
  border: none;
  fill: var(--color-of-background-two); 
}
.form_label .link{
  color: var(--color-of-background-thre);
}

.checkbox_one_span:hover,
.checkbox_one_span:focus{
  border-color: var(--color-of-background-thre);
}
.modal_window_button_two{
display: block; 
min-width: 169px;
height: 56px;
letter-spacing: 0.04em;
color: #ffffff ;
border: none; 
border-radius: 4px; 
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
margin: auto;
}
.div_limit .js-menu-container{
  width: 428px;
height: 796px; 
margin: o auto;
}

/* Portfolio-main */
.button_filter {
  padding: 72px 0;
}
.list_ul_li_prodact {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px ;
  row-gap: 48px;
}
.div_portfolio{
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 320px;
}

.h_two_portfolio{
  text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 111.111% */
letter-spacing: 0.72px;
text-transform: capitalize; 
text-align: center;
margin-bottom: 72px;
}
.ul_button_filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 72px;
}

.boton_tail {
  font-family: "Roboto", sans-serif;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-of-background-thre);
  background-color: var(--color-of-background-two);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.boton_tail:hover,
.boton_tail:focus {
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.list_ul_li_prodact {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.list_ul_li_prodact{
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
}

.prodact_txt {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.prodact_txt .company-codexs-h {
  margin-bottom: 8px;
}
/* Row1 */
.img_portfolio_div {
  position: relative;
  overflow: hidden;
}

 .p_in_img_portfolio_div {
  position: absolute;
 
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-of-background-two);
  padding: 40px 32px;
  background-color: var(--color-of-background-thre);
  height: 100%;
  width: 100%;
  transform: translateY(100%); 
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.a_row:hover .p_in_img_portfolio_div,
.a_row:focus .p_in_img_portfolio_div {
  transform: translateY(0%);
}

.a_row {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.a_row:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.a_row:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.list_ul_li_prodact {
  margin: 0 auto;
  align-items: center;

}
@media (min-width: 768px) {
  .list_li_prodact {
  width: calc((100% - 24px) / 2);


}
.div_portfolio{
width: 744px;
}
}

.list_ul_li_prodact {

  flex-direction: row;
}


@media (min-width: 1158px) {
  .list_li_prodact {
  width: calc((100% - 48px) / 3);
}
  .button_filter{
    padding: 120px 0;
  }
  .div_portfolio{
    width: 100%;
    max-width: 1128px;
  }
}
